In [0]:
# import csv
# with open('Text Clustering.csv', newline='') as csvfile:
#      spamreader = csv.reader(csvfile, delimiter=' ', quotechar='|')
#      for row in spamreader:
#         print(', '.join(row))

In [0]:
# import csv

# with open('Text Clustering.csv') as csv_file:
#     csv_reader = csv.reader(csv_file, delimiter=',')
#     line_count = 0
#     for col in csv_reader:
#         if line_count == 0:
#             print(f'Column names are {", ".join(col)}')
#             line_count += 1
#        # else:
#             #print(f'\t{row[0]} works in the {row[1]} department, and was born in {row[2]}.')
#             #line_count += 1
#     print(f'Processed {line_count} lines.')

In [0]:
import pandas as pd
df = pd.read_excel('TextClustering (3).xlsx', encoding = 'utf8')
# Texts = df.text
#IDS = df.id
# print(Texts)

# df.head(3)
# # df.index
# indexes = [0,16,19,10,45]
# df.iloc[indexes]
text_list = df
text_list_new=df.sample(frac=0.7)
newdf = text_list_new.iloc[:10]
newdf.head(7)

                                                  text
184  Newcastle line up Babayaro\n\nNewcastle manage...
191  Wenger refuses to give up title\n\nArsene Weng...
199  Beckham hints at Man Utd return\n\nEngland cap...
10   Radcliffe yet to answer GB call\n\nPaula Radcl...
0    Claxton hunting first major medal\n\nBritish h...
47   Classy Henman makes winning start\n\nTim Henma...
13   McIlroy aiming for Madrid title\n\nNorthern Ir...

In [0]:
# mylist=[]
# for i in range(1,13872):
#   if i%2 == 0:
#     mylist.append(0)
#   elif i%2 == 1:
#     mylist.append(1)
# print(mylist)

In [0]:
# text_list = df[['text']]

#sampling randomly from text clustering file
text_list = df
newdf =df.sample(frac=0.7)


newdf['sentiment'] = 0

newdf.head(6)

                                                  text  sentiment
176  Henry tipped for Fifa award\n\nFifa president ...          0
197  Highbury will be our Cup final\n\nArsenal is a...          0
139  Llewellyn plans Wales retirement\n\nWales reco...          0
158  Old Firm pair handed suspensions\n\nCeltic's H...          0
110  Gatland fears end of European run\n\nWasps coa...          0
67   Williams battles to Aussie title\n\nSerena Wil...          0

In [0]:
newdf.iloc[::2]['sentiment'] = 1

newdf.head(6)
#labeling 0 & 1 for augmentation part interchange

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

                                                  text  sentiment
176  Henry tipped for Fifa award\n\nFifa president ...          1
197  Highbury will be our Cup final\n\nArsenal is a...          0
139  Llewellyn plans Wales retirement\n\nWales reco...          1
158  Old Firm pair handed suspensions\n\nCeltic's H...          0
110  Gatland fears end of European run\n\nWasps coa...          1
67   Williams battles to Aussie title\n\nSerena Wil...          0

In [0]:
type(text_list.values)

numpy.ndarray

In [0]:
newdf .head(3)

                                                  text  sentiment
176  Henry tipped for Fifa award\n\nFifa president ...          1
197  Highbury will be our Cup final\n\nArsenal is a...          0
139  Llewellyn plans Wales retirement\n\nWales reco...          1

In [0]:
from gensim.parsing.preprocessing import strip_punctuation
#removing punctuation
def remove_punctuation(newdf):
  newdf= strip_punctuation(newdf)
  newdf = newdf.strip().replace("\t", "").replace("\n", "").replace("http", "")
  return newdf

In [0]:
newdf.text = newdf.text.apply(remove_punctuation)

In [0]:
#newf.head(3)

In [0]:
# np.savetxt('text_list.txt', text_list[['Seprate','text']].values, fmt='%s', delimiter='###$###', newline='\n')

In [0]:
#file_obj = open('TextClusteringlabeled.txt','w+')

#for row in newdf.values:
 # file_obj.writelines([str(row[0]), "\t", row[1].replace("\n", ""),"\n"])  

#file_obj.close()
# ----------------------------
# lines = open('text_list.txt', 'r').readlines()

#  for i, line in enumerate(lines):
#    print(i , line)

In [0]:
#lines = open('TextClustering_final.txt', 'r').readlines()


#for i, line in enumerate(lines):
 #   parts = line[:-1].split('\t')
  #  if(len(parts) != 2):
   #   print(len(parts) , " : " , line)
   # label = parts[0]
   # sentence = parts[1]
    #print(parts)
    #print(label)
   # print( sentence)
   # print(type(parts))
#     print(len(parts))
#     aug_sentences = eda(sentence, alpha_sr=alpha, alpha_ri=alpha, alpha_rs=alpha, p_rd=alpha, num_aug=num_aug)
#     for aug_sentence in aug_sentences:
#         writer.write(label + "\t" + aug_sentence + '\n')